/**
* @name Lucy 
* @author Nyria#3863
* @description Variant theme of LilyPichu 
* @invite rtBQX5D3bD
* @version 1.0
*/

@import url("https://nyri4.github.io/LilyPichu/main.css");

:root .app-2CXKsg::before { background: url('https://i.imgur.com/rMqPYyz.png') center/90% no-repeat;}

.container-1eFtFS::after {
   /** type what you want in content */
    content: ""; 
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    z-index: -2;
    width: 320px;
    background-color: var(--background-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--text-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
  }












.userPopout-2j1gM4, .guilds-2JjMmN .scroller-3X7KbA { background: url("https://rare-gallery.com/thumbs/922072-anime-city-cityscape-reflection.jpg");}
.userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k { background: none;}

:root {

/* --- User variables --- */

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: url("https://cdn.discordapp.com/attachments/1096791144601497623/1140688426623049870/lir0qgda.gif?ex=668386a1&is=66823521&hm=ea39505a5fde80c8b1b957237b3c8f17e0d2d8df283f6c65c40a01250715c543&");

/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #e5d2f7;
  --header-primary: #ffffff;
  --interactive-normal: #e5d2f7;
  --channels-default: #e5d2f7;

  --text-muted: #979797;
  --interactive-muted: #e5d2f7;

  --header-secondary: #ae97c4;
  --interactive-hover: #ffffff;
  --interactive-active: #e7cdff;

    /* Background color */
    --channeltextarea-background: #000000;
  --background-primary:  #03030362;
  --background-secondary: #03030362;
  --background-secondary-alt: #03030362;
  --background-tertiary: #000000;
  --background-floating: #000000;
  --background-accent: #e5d2f7;
  --modal-background: #03030362;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
     --toast-background: #7e7e7e !important;
  --toast-header: #424242 !important;
  --toast-contents: #6e6e6e !important;
  --toast-border: #919191 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: #e5d2f7;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #b9b9b9 !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #cfcfcf !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #e5d2f7; border-color: #e5d2f7;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #81725d;
    --header-primary: #81725d;
    --interactive-normal: #81725d;
    --channels-default: #81725d;

    --text-muted: #81725d;
    --interactive-muted: #a1927b;

    --header-secondary: #a1927b;
    --interactive-hover: #9b8c75;
    --interactive-active: #9b8c75;

    /* Background color */
    --background-primary: #eceed8;
    --background-secondary: #e9e4bc;
    --background-secondary-alt: #dcd1a3;
    --background-tertiary: #beb488;
    --background-floating: #dcd1a3;
    --background-accent: #edc35d;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-3cPPsm { color: #edc35d;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #edc35d !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #dfb44f !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #edc35d; border-color: #edc35d;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

  :root .standardSidebarView-E9Pc3j {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    overflow: hidden;
    background-color: var(--background-tertiary)
  }
